.BuypageListDiv {
  position: relative;
  /* clear: both; */
  /* justify-items: center; */
  /* align-items: center; */
  text-align: center;
  /* display: flex; */
  /* justify-content: center; */
}

.BuypageListTitle {
  /* position: absolute; */
  font-size: 25px;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
}

.SearchByAddressDiv {
  height: 50px;
  padding-top: 8px;
}

.pagelistBox {
  /* position: absolute; */

  border: solid 1px;
  border-radius: 5px;
  width: 600px;
  height: 330px;
  overflow: auto;
  text-align: center;
  justify-items: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.pagelistBox::-webkit-scrollbar {
  display: none;
}

.pagelistBox .table {
  table-layout: fixed;
  /* text-align: center; */
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
